<!DOCTYPE html>
<html>
    <head>
        <title>Character</title>
    </head>
    <body>
        <h1>
            <%= character.name %>
        </h1>
        <p>
            Gender: <%= character.gender %>
        </p>
        <p>
            Height: <%= character.height %>
        </p>
        <p>
            Mass: <%= character.mass %>
        </p>
        <p>
            Hair color: <%= character.hair_color %>
        </p>   
        <p>
            Birth year: <%= character.birth_year %>
        </p>
        <p>
            Skin color: <%= character.skin_color %>
        </p>   
    </body>
</html>